body {
    background: linear-gradient(
100deg, #332472 0%, #f58ab1 100%);
}

.movies_container {

    h1 {
        color: #fff;
        text-align: center;
        margin: 50px;
    }
    
    table {
        margin: 50px auto;
        background: rgb(255 255 255 / 70%);

        th, td {
            padding: 10px;
            text-align: left;
        }
        td { cursor: pointer; }
    }
}